<style>
body { width:494px; font-family: helvetica; font-size:14px;}
</style>
<p style="border-top:1px #999999 solid;border-bottom:1px #999999 solid; padding:3px 0 3px 0; color:#ed1c24; font-size:18px; font-weight:bold; margin: 0 0 0 0 ;">Thursday 6</p>

<div style="float:left;height:110px; width:482px;padding-top:10px; padding-bottom:14px; margin: 0 0 5px 0">
	

<p style="padding:0; margin:0;"><img width="152" border="0" height="110" alt="" style="float:left; padding-right:16px; padding-top:;" src="http://timeout-admin-node1.candrholdings.com/media/content/swatch/29384_khalil-swatch.jpg" /> <strong>Khalil Fong</strong><br />
Hong Kong's Mandopop star is ready to begin a new era &ndash; and he's got global domination on his mind</p>
</div>


<div style="float:left;height:110px; width:482px;padding-top:0; padding-bottom:14px;">
<p style="padding:0; margin:0;"><img width="152" border="0" height="110" alt="" style="float:left; padding-right:16px; padding-top:;" src="http://timeout-admin-node1.candrholdings.com/media/content/slideshow/29398_halloween-oceanpark-482x298.jpg" /> <strong>Halloween Guide</strong><br />
From the fun to the downright freaky, we scout Hong Kong for some dead good, family-friendly ways to celebrate the creepiest day of the year</p>
</div>


<div style="float:left;height:110px; width:482px;padding-top:7px; padding-bottom:14px;">
<p style="padding:0; margin:0;"><img width="152" border="0" height="100" alt="" style="float:left; padding-right:16px; padding-top:;" src="http://timeout-admin-node1.candrholdings.com/media/content/swatch/29392_doryun-swatch.jpg" /> <strong>Doryun Chong</strong><br />
The newly appointed chief curator of M+ on his vision for HK's flagship visual culture museum</p>
</div>

<div style="float:left;height:110px; width:482px;padding-top:7px; padding-bottom:14px;">
<p style="padding:0; margin:0;"><img width="152" border="0" height="110" alt="" style="float:left; padding-right:16px; padding-top:;" src="http://timeout-admin-node1.candrholdings.com/media/content/swatch/29417_Quarry_Bay_swatch.jpg" /> <strong>Quarry Bay Foodie Tour</strong><br />
Discovery the emerging culinary scene full of delicious and diverse bites in Island East  <br />
&nbsp;</p>
</div>
<div style="float:left;height:110px; width:482px;padding-top:7px; padding-bottom:14px;">
<p style="padding:0; margin:0;"><img width="152" border="0" height="110" alt="" style="float:left; padding-right:16px; padding-top:;" src="http://www2.padshowoff.com/content/normal/25926_Kpop1.jpg" /> <strong>Korean style</strong><br />
Check out eight Korean brands making an impact on HK's fashion scene</p>
</div>
<p>&nbsp;</p>