<style>
body {width:482px; font-family:Arial, Helvetica, sans-serif;font-size:14px;}
</style>
<p>
<img border="0" width="482" height="298" src="http://www2.padshowoff.com/content/cropped/143/secret-ART-OX.jpg">
<strong>Ox Warehouse</strong><br>
<em>Avant garde artspace</em></p>
<p>Ox Warehouse  Macau's own cattle depot-cum-artspace<br>
Since its founding more than a decade ago, this non-profit creative organisation has been at the forefront of Macau's avant garde community. Located in the northern periphery of the peninsula, and housed in a former cattle depot, Ox Warehouse regularly features events from across the artistic realm, from exhibitions and talks to shows and gigs. Corner of Avenida do Coronel Mesquita and Avenida Almirante Lacerda, Macau, +853 2853 0026, oxwarehouse.blogspot.hk. MT</p>

<p style="border-bottom:2px #CCC dotted; margin:0;padding:0;"></p>

<p><strong>G32 Gallery</strong><br>
<em>Preservation turned art</em></p>
<p>G32 must be one of Macau's finest renovation projects. In early 2011,
after the building had slowly deteriorated and its occupants moved out, the Creative Industries Promotion Association took the space, and set about restoring the historic building. The result is an elegant space using 
all original, abandoned furniture, which pays homage to the residence 
of the past while giving it a new, modern life, and provides an idea of a typical Macanese house of the 1960s. It's only open on weekends from 3pm to 5.30pm, so plan well ahead if you're thinking of visiting. 32 Rua De Sao Miguel, Macau, +853 2834 6626, 
cipa.org.mo/G32. MT</p>


<p style="border-bottom:2px #CCC dotted; margin:0;padding:0;"></p>
 

<p><strong>7 Hall</strong><br>
<em>Creative night café </em><br><br>
Open from 8pm until 3am daily, 7 Hall provides a chilled, cosy environment for you to channel that late-night inspiration or experience a more tranquil version of Macau night-life. Local musicians perform every night at 9.30pm, showcasing original works as well as popular songs. Beyond that, 7 Hall hosts photography, movies, food, drinks and games, bringing together residents and tourists alike in a cultural, creative gathering. 7F-G Rua de Entre-Campos, +853 2835 2151; facebook.com/7hall. JW</p>

<p style="border-bottom:2px #CCC dotted; margin:0;padding:0;"></p>

<p><strong>LMA</strong><br>
<em>Indie rock warehouse</em><br><br>
For five years, LMA, housed in a non-descript building in the northern outskirts of the city, was the haven for all things alternative and musical. Sadly, it closed in late August – but we hear that a new LMA is opening later this year and continuing the venue's tradition of bringing in regular acts from around the world as well as crème of the local talent, from genres as varied as electronic rock to ambient noise and jazz. Keep track on their website if you're looking for alternative music in Macau. lmamacau.com. MT</p>